.phoneConfirmationContainer {
    background-color: #f2f0e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 1.5em;
    
}


.inputContainer img {
    width: 45px;
}


.phoneConfirmationContainer .inputContainer > div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 1em;

}

.phoneConfirmationContainer .inputContainer > div >select {
    width: 200px;
}
.phoneConfirmationContainer .inputContainer > input {
    width: 100%;
    margin-bottom: 1em;
}

.phoneConfirmationContainer h1 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--textColor);
    font-style: normal;
}

.phoneConfirmationContainer p {
 font-size: 0.775em;
 margin: 0;
 width: 100%;
 max-width: 270px;
 text-align: center;
}

.phoneConfirmationContainer p span{
    font-weight: 600;
}

.phoneConfirmationContainer .backBtn svg {
    font-size: 1.8em;
    color: var(--textColor);
}

.phoneConfirmationContainer .nextBtn svg {
    font-size: 1.3em;
    margin-left: 5px;
}

.phoneConfirmationContainer .backBtn img,
.phoneConfirmationContainer .nextBtn img {
width: 20px;
}

.phoneConfirmationContainer .backBtn{
    position: absolute;
    top: 10px;
    left: 10px;
}

.phoneConfirmationContainer .nextBtn {
    background-color: var(--btnBgColor);
    text-decoration: none;
    color: #fff;
    padding: .5em 1em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

.notificationContainer .action_btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

.notificationContainer .action_btn a{
    width: 100%;
    padding: .5em;
    text-decoration: none;
    color: var(--btnBgColor);
}
.notificationContainer .action_btn a:last-child{
    border-left: 1px solid #ccc;
}

.handImageIcon{
    position: absolute;
    width: 100px ;
    right: 80px;
    margin-top: 1em;
}